doctype html
html(lang="en")
  head
    != partial("_shared/meta")
    
    meta(property='og:title', content= site_title)
    title= site_title       
    
    meta(property='og:url', content=site_url)
    meta(property='og:type', content='website')
    
    link(rel="stylesheet" type="text/css" href="/styles/third-party/google-fonts/css/google-fonts.css")
    link(rel="stylesheet" type="text/css" href="/styles/third-party/font-awesome-4.3.0/css/font-awesome.min.css")
    link(rel="stylesheet" type="text/css" href="/styles/third-party/highlight-js/hybrid.css")
    link(rel="stylesheet" type="text/css" href="/styles/main.css")
    
    script(src="/scripts/third-party/highlight-js-8.6/highlight.pack.js")
    script hljs.initHighlightingOnLoad();
    
  body
    != yield
    
    
