doctype html
html(lang="en")
  head
    != partial("_shared/meta")
    
    meta(property='og:title', content= site_title)
    title= site_title       
    
    meta(property='og:url', content=site_url)
    meta(property='og:type', content='website')
    
    != partial("_shared/styles")
    
    script(src="/scripts/third-party/highlight-js-8.6/highlight.pack.js")
    script hljs.initHighlightingOnLoad();
    
  body
    != yield
    
    
