- var SNIPPET_LENGTH = 300;
- var yearNames = Object.keys(public.posts)

- for (var i = yearNames.length - 1; i >= 0; i--)
  - var yearName = yearNames[i]
  - var yearData = public.posts[yearName]
  
  for post, postName in yearData._data
    - if (site_environment === "PRODUCTION" && post.isDraft) continue
      
    - var relativePath = "posts/" + yearName + "/" + postName
    - var postPartial = partial(relativePath)
    - if (!postPartial) continue
    - var tagsRemoved = postPartial.replace(/(<([^>]+)>)/ig, '')
    - var whitespaceCorrected = tagsRemoved.replace(/\s/g, ' ').replace(/[\s]{2,}/g, ' ')
    - var snippet = whitespaceCorrected.substring(0, SNIPPET_LENGTH)
    - post.url = site_url + "/" + relativePath

    article.post
      != partial("_shared/post-header", {post: post})

      p
        != snippet
        |  . . .
        a(href=post.url)= " Read More"
