include _shared/post-header

- var SNIPPET_LENGTH = 300;
- var posts = []
- var directoryNames = Object.keys(public.posts)

each directoryName in directoryNames
  for post, postName in public.posts[directoryName]._data
    - if (site_environment === "PRODUCTION" && post.isDraft) continue
    - var clone = JSON.parse(JSON.stringify(post))
    - clone.postName = postName
    - clone.directoryName = directoryName
    - posts.push(clone)

- posts.sort(function(a, b) { return a.postDate > b.postDate ? -1 : 1 })

each post in posts
  - var relativePath = "posts/" + post.directoryName + "/" + post.postName
  - var postPartial = partial(relativePath)
  - if (!postPartial) continue
  - var tagsRemoved = postPartial.replace(/(<([^>]+)>)/ig, '')
  - var whitespaceCorrected = tagsRemoved.replace(/\s/g, ' ').replace(/[\s]{2,}/g, ' ')
  - var snippet = whitespaceCorrected.substring(0, SNIPPET_LENGTH)
  - post.url = site_url + "/" + relativePath

  article.post
    +postHeader(post)

    p
      != snippet
      |  . . .
      a(href=post.url)= " Read More"
