- var SNIPPET_LENGTH = 300;

for post, slug in public.posts.yr2015._data
  - if (environment === "PRODUCTION" && post.isDraft) continue

  - var relativePath = "posts/yr2015/" + slug
  - var postPartial = partial(relativePath)
  - if (!postPartial) continue
  - var tagsRemoved = postPartial.replace(/(<([^>]+)>)/ig, '')
  - var whitespaceCorrected = tagsRemoved.replace(/\s/g, ' ').replace(/[\s]{2,}/g, ' ')
  - var snippet = whitespaceCorrected.substring(0, SNIPPET_LENGTH)
  - post.url = site_url + "/" + relativePath

  article.post
    != partial("_shared/post-header", {post: post})

    p
      != snippet
      |  . . .
      a(href=post.url)= " Read More"
