$blue: #3287c1;
$light: #f0f0f0;
$gray: #a6a6a6;
$dark: #29292a;
$white: #fff;

$border-color: #b3b3b3;
$github-purple: #6929a8;

.orange {
  color: #ff9e2a;
}

.green {
  color: rgba(0, 178, 23, 1);
}
