@import "colors";
@import "sizes";
@import "mixins";
@import "fonts";

// border-box makes it so that the width will equal the computed width.
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: #ffffff;
  color: $dark;
  font: $body-font;
}

h1 {
  font-family: $title-font-family;
  font-size: 220%;
  margin: 20px 0;
}

h2 {
  font-size: 160%;
  margin: 15px 0;
}

h3 {
  font-size: 140%;
  margin: 10px 0;
}

h4 {
  font-weight: 400;
  font-size: 130%;
  margin: 10px 0;
}

h5 {
  font-size: 120%;
  margin: 10px 0;
}

h6 {
  font-weight: bold;
  font-size: 100%;
  margin: 10px 0;
}

p, ul, ol {
  line-height: 1.4em;
}

li {
  margin: 5px 0;
}

a {
  @include transition(all .4s ease-out);
  font-weight: 600;
  color: $blue;
  text-decoration: none;
}

a:hover {
  color: darken($blue, 10%);
}

code {
  display: inline-block;
  font: $code-font;
  background: $light;
  padding: 0 3px;
  @include border-radius(2px);
}

table {
  border-collapse: collapse;
}

td {
  vertical-align: middle;
  padding: 5px;
  border-top: 1px solid $light;
  border-bottom: 1px solid $light;
  border-left: 1px solid $light;

  @media screen and (min-width: $tablet) {
    min-width: 250px;
  }
}

td:first-child {
  border-left: none;
}

pre {
  border: 0;
  margin: 30px 0;
  overflow-x: auto;
  background: $dark;
  @include border-radius(4px);

  code {
    padding: 25px 35px;
    color: darken($light, 12%);
    line-height: 22px;
    background: $dark;
    border: none;
    width: 100%;
  }
}

blockquote {
  border-left: 3px solid $border-color;
  margin: 30px 0 30px 15px;
  padding: 0 15px;
  font: $blockquote-font;
  text-align: justify;
}

footer {
  padding: 25px 0;
  text-align: center;
  font: $footer-font;
  line-height: 34px;
  color: $gray;

  span {
    display: block;
  }
}

.wrapper {
  width: 90%;
  max-width: $wrapper-max-width;
  margin: 0 auto;
}

.post-wrapper{
  width: 90%;
  max-width: $post-wrapper-max-width;
  margin: 0 auto;

  @media screen and (min-width: $tablet) {
    padding-left: $post-padding-left;
  }
}

.nav {

  margin-top: 20px;

  a {
    background: $dark;
    padding: 15px 15px 6px;
    color: $white;
    width: auto;

    span {
      margin-left: 10px;
    }
  }

  a:hover {
    background: $blue;
  }
}

.mobile-nav {
  display: block;

  @media screen and (min-width: $tablet) {
    display: none;
  }
}

.tablet-sidebar {
  position: fixed;
  display: none;
  top: 30px;
  left: 4%;
  @include transition(opacity .4s ease-in-out);

  @media screen and (min-width: $tablet) {
    display: inline-block;
  }

  @media screen and (min-width: $desktop-small) {
    left: 10%;
  }
}

.translucent {
  opacity: .4;
}

.tablet-sidebar:hover {
  opacity: 1
}

.post {
  margin: 40px 0 80px 0;
}

#disqus_thread {
  margin-bottom: 8%;
}

.social {
  .github {
    color: white;
    background-color: $github-purple;
    border: 2px solid white;
    @include border-radius(5px);
  }

  .github:hover {
    color: $github-purple;
    background-color: white;
    border: 2px solid $github-purple;
  }
}

.separator {
  border-bottom: 1px solid #b3b3b3;
}

.author-profile {
  overflow: hidden;
  padding: 20px 0;
  margin: 20px 0;

  .author-img {
    display: block;
    float: none;
    width: 50%;
    max-width: 100px;
    max-height: 100px;
    background: lightgray;
    @include border-radius(8px);
  }

  .info {
    margin: 0 auto;
    display: block;
    float: none;
    width: 100%;

    .social {
      list-style: none;
      margin: 20px 0 0 0;
      padding: 0;
      overflow: hidden;
      @include transition(all .25s ease-out);
    }

    ul {
      margin: 0 10px 10px 0;
    }

    li {
      float: left;
      margin: 0 10px 10px 0;
      padding: 0;

      a {
        font-size: 110%;
        display: inline-block;
        padding: 2px 1px 2px 0;
        width: 30px;
        text-align: center;
      }
    }
  }

  @media screen and (min-width: $tablet) {
    .author {
      float: left;
    }
    .info {
      margin: 0 0 0 15px;
      float: left;
      width: auto;
    }
  }
}

.mobile-author-profile {
  display: block;

  @media screen and (min-width: $tablet) {
    display: none;
  }
}
