div.separator

footer
  div
    span
      | Proudly built with 
      a(href="http://harpjs.com/" target="_blank") harp 
      | and hosted on 
      a(href="https://github.com/josh-egan/tech.joshegan.com/tree/master" target="_blank") GitHub
