mixin postHeader(post)
  - var dateInputFormat = 'YYYY-MM-DD'
  - var dateDisplayFormat = 'MMM Do, YYYY'

  h1
    a(href=post.url)= post.title

  if post.isDraft
    h2.green DRAFT

  if post.isBookReview
    .book-review Book Review

  if post.updateDate
    p
      | Posted on&nbsp;
      time(datetime= post.postDate)
        strong= moment(post.postDate, dateInputFormat).format(dateDisplayFormat)
      | , updated on&nbsp;
      time.orange(datetime= post.updateDate)
        strong= moment(post.updateDate, dateInputFormat).format(dateDisplayFormat)

  else
    p
      | Posted on&nbsp;
      time.orange(datetime= post.postDate)
        strong= moment(post.postDate, dateInputFormat).format(dateDisplayFormat)
