//$code-font: 500 15px 'Source Code Pro', Arial, Serif;
$code-font: 400 15px 'Droid Sans Mono', Arial, Serif;
$body-font: 400 15px 'Open Sans', Arial, Sans-Serif;
$title-font-family: 'Domine', Times, serif;
$footer-font: 400 13px 'Open Sans', Arial, sans-serif;