@import "colors";
@import "sizes";
@import "mixins";
@import "fonts";

body {
  background-color: #ffffff;
  color: $dark;
  font: $body-font;
}

h1 {
  margin: 20px 0;
  font-size: 220%;
  font-family: $title-font-family;
}

h4 {
  margin: 10px 0;
  font-size: 140%;
}

a {
  font-weight: 600;
  color: $blue;
  text-decoration: none;
  border-bottom: 3px solid transparent;
  @include transition(color .4s ease-out);
}

a:hover {
  color: darken($blue, 10%);
  @include transition(color .4s ease-out);
}

p {

  code {
    background-color: $light;
    display: inline-block;
    font: $code-font;
    line-height: 22px;
    @include border-radius(4px);
  }
}

pre {
  background-color: $dark;
  border: 0;
  margin: 30px 0;
  font: $code-font;
  overflow-x: auto;
  @include border-radius(4px);

  code {
    display: inline-block;
    padding: 0;
    margin: 25px 35px;
    color: $light;
    font: $code-font;
    line-height: 22px;
    background: 0 0;
    border: 0
  }
}

footer {
  padding: 25px 0;
  text-align: center;
  font: $footer-font;
  line-height: 34px;
  color: #a6a6a6;
  border-top: 1px solid #b3b3b3;

  span {
    display: block;
  }
}

.title {

  a {
    position: absolute;
    left: 10px;
    top: 10px;
    margin-top: 10px;
    display: inline-block;
    z-index: 200;
    padding: 9px 12px 6px;
    background: $dark;
    color: $white;
    @include transition(background .4s ease-out);

    @media screen and (min-width: $tablet) {
      position: fixed;
      left: 13px;
      top: 13px;
      display: block;
    }

    span {
      display: none;
      margin-left: 15px;

      @media screen and (min-width: $desktop-small) {
        display: inline-block;
      }
    }
  }

  a:hover {
    background: $blue;

    span {
      display: inline-block;
    }
  }
}

.wrapper {
  width: 90%;
  max-width: 740px;
  margin: 0 auto;
}

.posts {
  margin: 90px 0 60px 0;
}

.post {
  margin: 60px 0;
}

.social {
  .github {
    color: white;
    background-color: $github-purple;
    border: 2px solid white;
    @include border-radius(10px);
  }

  .github:hover {
    color: $github-purple;
    background-color: white;
    border: 2px solid $github-purple;
  }
}

.author-profile {
  overflow: hidden;
  padding: 20px 0;
  margin: 40px 0;
  border-top: 1px solid #b3b3b3;
  border-bottom: 1px solid #b3b3b3;

  .author {
    display: block;
    float: none;
    width: 50%;
    @include border-radius(8px);
  }

  .info {
    margin: 0 auto;
    display: block;
    float: none;
    width: 100%;

    .social {
      list-style: none;
      margin: 20px 0 0 0;
      padding: 0;
      overflow: hidden;
      @include transition(all .25s ease-out);
    }

    ul {
      margin: 0 10px 10px 0;
    }

    li {
      float: left;
      margin: 0 10px 10px 0;
      padding: 0;

      a {
        font-size: 130%;
        display: inline-block;
        padding: 6px 0;
        width: 40px;
        text-align: center;
        @include transition(all .25s ease-out);
      }
    }
  }

  @media screen and (min-width: $tablet) {
    .author {
      float: left;
      width: 120px;
    }
    .info {
      margin: 0 0 0 30px;
      float: left;
      width: auto;
    }
  }
}