article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section,
summary{display:block}

audio,
canvas,
progress,
video{display:inline-block}

audio:not([controls]){display:none;height:0}

[hidden],
template{display:none}

html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}

a{background:0 0}

a:active,
a:hover{outline:0}

abbr[title]{border-bottom:1px dotted}

b,
strong{font-weight:700}

dfn{font-style:italic}

hr{-moz-box-sizing:content-box;box-sizing:content-box}

mark{background:#ff0;color:#000}

code,
kbd,
pre,
samp{font-family:monospace,
serif;font-size:1em}

pre{white-space:pre-wrap}

q{quotes:"\201C" "\201D" "\2018" "\2019"}

small{font-size:80%}

sub,
sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}

sup{top:-.5em}

sub{bottom:-.25em}

img{border:0}

svg:not(:root){overflow:hidden}

figure{margin:1em 40px}

fieldset{border:1px solid silver;margin:0 2px;min-width:0;padding:.35em .625em .75em}

legend{border:0;padding:0}

button,
input,
optgroup,
select,
textarea{color:inherit;font:inherit;margin:0}

optgroup{font-weight:700}

button,
input{line-height:normal}

button,
select{text-transform:none}

button,
html input[type=button],
input[type=reset],
input[type=submit]{-webkit-appearance:button;cursor:pointer}

button[disabled],
html input[disabled]{cursor:default}

input[type=checkbox],
input[type=radio]{box-sizing:border-box;padding:0}

input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration{-webkit-appearance:none}

button::-moz-focus-inner,
input::-moz-focus-inner{border:0;padding:0}

textarea{overflow:auto;vertical-align:top}

table{border-collapse:collapse;border-spacing:0}

td,
th{padding:0}

body,
html{height:100%;background:#fff;font:400 16px "Open Sans",
serif;color:#3b3b3b;padding:0;margin:0}

a{font-weight:600;color:#026ed2;text-decoration:none;border-bottom:3px solid transparent;-moz-transition:border .2s,
color .2s ease-out;-o-transition:border .2s,
color .2s ease-out;-webkit-transition:border .2s,
color .2s ease-out;transition:border .2s,
color .2s ease-out}

a:hover{color:#0079ec}

h1 a:hover,
p a:hover{border-bottom:3px solid #f1ece9}

h1,
h2,
h3,
h4{margin:30px 0;font:700 34px Domine,
Serif;line-height:56px;color:#262b30}

h1 i,
h2 i,
h3 i,
h4 i{margin-right:15px}

h2{margin:30px 0 20px;font:700 26px Domine,
Serif}

h3{margin:20px 0 10px;font:600 22px 'Open Sans',
Serif}

h4{margin:20px 0 10px;font:600 20px 'Open Sans',
Serif}

p{margin:30px 0;line-height:38px;color:#333332;word-wrap:break-word}

em,
strong{font-weight:600}

img{margin:30px 0;width:auto;max-width:100%;-moz-border-radius:4px / 4px;-webkit-border-radius:4px;border-radius:4px / 4px}

hr{width:70%;height:3px;margin:30px auto;border:0;background:#d8d6de}

code{padding:2px 6px;margin:0 5px;background:#f3f3f3;border:1px solid #e6e6e6;-moz-border-radius:4px / 4px;-webkit-border-radius:4px;border-radius:4px / 4px}

blockquote,
cite,
q{margin:30px 0 30px 4%;border-left:3px solid #c6d5e1;padding:5px 4%;font:italic 700 18px Domine,
Serif;line-height:38px}

blockquote p,
cite p,
q p{margin:0;padding:0}

input:not([type=submit]):not([type=file]){padding:8px 15px;background:#fff;border:2px solid gray;font:600 15px 'Open Sans',
Serif;-moz-border-radius:4px / 4px;-webkit-border-radius:4px;border-radius:4px / 4px;outline:0;-moz-transition:all .2s ease-out;-o-transition:all .2s ease-out;-webkit-transition:all .2s ease-out;transition:all .2s ease-out}

input:not([type=submit]):not([type=file]):active,
input:not([type=submit]):not([type=file]):focus{border:2px solid #2d75a2}

::-moz-selection{color:#fff;background:#2d75a2;text-shadow:none}

::selection{color:#fff;background:#2d75a2;text-shadow:none}

.title a{position:fixed;top:13px;left:13px;z-index:200;display:block;padding:9px 12px 6px;background:#29292a;color:#fff;-moz-transition:background .6s ease-out;-o-transition:background .6s ease-out;-webkit-transition:background .6s ease-out;transition:background .6s ease-out}

.title a:hover{background:#3287c1}

.title a span{display:inline-block;margin-left:15px}

@media screen and (max-width:1140px){.title a span{display:none}

}

@media screen and (max-width:595px){.title a span{display:inline-block}

}

.title a:hover span{display:inline-block;width:auto}

@media screen and (max-width:906px){.title a{left:5%;top:30px;position:absolute;margin-top:30px;display:inline-block}

}

.wrapper{width:90%;max-width:760px;margin:0 auto}

.left{float:left}

.right{float:right}

.notification{margin-top:50px;padding:20px 25px;background:#1c78be;-moz-border-radius:4px / 4px;-webkit-border-radius:4px;border-radius:4px / 4px}

.notification .ntitle{color:#c4e2f8;font:700 18px 'Open Sans',
Serif;padding-right:20px;border-right:2px solid #3285c4}

.notification .message{color:#fff;font:700 18px 'Open Sans',
Serif;padding-left:20px}

.notification a{position:relative;margin-top:-3px;display:inline-block;float:right;padding:4px 10px 3px;color:#fff;background:#0b4673;-moz-border-radius:30px / 30px;-webkit-border-radius:30px;border-radius:30px / 30px;-moz-transition:opacity .2s;-o-transition:opacity .2s;-webkit-transition:opacity .2s;transition:opacity .2s}

.notification a i{margin-top:3px}

.notification a:hover{color:#fff;opacity:.6}

footer{padding:25px 0;text-align:center;font:400 13px 'Open Sans',
Serif;line-height:34px;color:#a6a6a6}

footer span{display:block}

footer a{color:#5498dc}

footer .smallnav{display:none}

@media screen and (max-width:906px){footer .smallnav{display:block}

}

.smallbutton{display:inline-block;padding:7px 22px;font:600 14px 'Open Sans',
Serif;-moz-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;transition:all .2s ease-in-out;-moz-border-radius:4px / 4px;-webkit-border-radius:4px;border-radius:4px / 4px}

.smallbutton i{margin-right:15px}

.smallbutton.blue{border:2px solid #0066d9;background:#0066d9;color:#fff}

.smallbutton.blue:hover,
.smallbutton.lightgray{border:2px solid #c3c2c9;background:#fff;color:#686868}

.smallbutton.lightgray:hover{border:2px solid #0066d9;background:#0066d9;color:#fff}

.smallbutton.solidgray{border:2px solid #edebf3;background:#edebf3;color:#858585}

.smallbutton.solidgray:hover{border:2px solid #edebf3;background:#fff;color:#858585}

.smallsocialbutton{margin:0 3px;display:block;width:32px;height:28px;text-align:center;background:#efefef;color:#606060;-moz-border-radius:36px / 36px;-webkit-border-radius:36px;border-radius:36px / 36px;-moz-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;transition:all .2s ease-in-out}

.smallsocialbutton i{vertical-align:-5px;position:relative}

.smallsocialbutton.twitter:hover{background:#00acee;color:#fff}

.smallsocialbutton.facebook:hover{background:#3b5998;color:#fff}

.smallsocialbutton.github:hover{background:#171515;color:#fff}

.smallsocialbutton.instagram:hover{background:#3f729b;color:#fff}

.smallsocialbutton.rss:hover{background:#ee802f;color:#fff}

.social .twitter{-webkit-box-shadow:inset 0 0 0 20px #00acee;box-shadow:inset 0 0 0 20px #00acee}

.social .twitter:hover{color:#00acee;-webkit-box-shadow:inset 0 0 0 2px #00acee;box-shadow:inset 0 0 0 2px #00acee}

.social .facebook{-webkit-box-shadow:inset 0 0 0 20px #3b5998;box-shadow:inset 0 0 0 20px #3b5998}

.social .facebook:hover{color:#3b5998;-webkit-box-shadow:inset 0 0 0 2px #3b5998;box-shadow:inset 0 0 0 2px #3b5998}

.social .github{-webkit-box-shadow:inset 0 0 0 20px #171515;box-shadow:inset 0 0 0 20px #171515}

.social .github:hover{color:#171515;-webkit-box-shadow:inset 0 0 0 2px #171515;box-shadow:inset 0 0 0 2px #171515}

.social .rss{-webkit-box-shadow:inset 0 0 0 20px #ee802f;box-shadow:inset 0 0 0 20px #ee802f}

.social .rss:hover{color:#ee802f;-webkit-box-shadow:inset 0 0 0 2px #ee802f;box-shadow:inset 0 0 0 2px #ee802f}

.social .youtube{-webkit-box-shadow:inset 0 0 0 20px #c4302b;box-shadow:inset 0 0 0 20px #c4302b}

.social .youtube:hover{color:#c4302b;-webkit-box-shadow:inset 0 0 0 2px #c4302b;box-shadow:inset 0 0 0 2px #c4302b}

.social .dribbble{-webkit-box-shadow:inset 0 0 0 20px #ea4c89;box-shadow:inset 0 0 0 20px #ea4c89}

.social .dribbble:hover{color:#ea4c89;-webkit-box-shadow:inset 0 0 0 2px #ea4c89;box-shadow:inset 0 0 0 2px #ea4c89}

.social .googleplus{-webkit-box-shadow:inset 0 0 0 20px #dd4b39;box-shadow:inset 0 0 0 20px #dd4b39}

.social .googleplus:hover{color:#dd4b39;-webkit-box-shadow:inset 0 0 0 2px #dd4b39;box-shadow:inset 0 0 0 2px #dd4b39}

.social .instagram{-webkit-box-shadow:inset 0 0 0 20px #3f729b;box-shadow:inset 0 0 0 20px #3f729b}

.social .instagram:hover{color:#3f729b;-webkit-box-shadow:inset 0 0 0 2px #3f729b;box-shadow:inset 0 0 0 2px #3f729b}

.social .pinterest{-webkit-box-shadow:inset 0 0 0 20px #c8232c;box-shadow:inset 0 0 0 20px #c8232c}

.social .pinterest:hover{color:#c8232c;-webkit-box-shadow:inset 0 0 0 2px #c8232c;box-shadow:inset 0 0 0 2px #c8232c}

.social .linkedin{-webkit-box-shadow:inset 0 0 0 20px #0e76a8;box-shadow:inset 0 0 0 20px #0e76a8}

.social .linkedin:hover{color:#0e76a8;-webkit-box-shadow:inset 0 0 0 2px #0e76a8;box-shadow:inset 0 0 0 2px #0e76a8}

nav{position:absolute;z-index:400;top:20px;right:20px;font:600 14px 'Open Sans',
Serif;clear:both;-moz-transition:all .2s ease-out;-o-transition:all .2s ease-out;-webkit-transition:all .2s ease-out;transition:all .2s ease-out}

nav.featured i{color:#fff;opacity:.5}

nav.featured a{color:#fff;opacity:.7}

nav.featured a:hover{opacity:1}

nav a{color:#383838}

nav i{float:right;display:block;padding:6px 12px;cursor:pointer;opacity:.4}

nav ul{padding:0;margin:0;list-style:none;float:left;opacity:0;height:0;overflow:hidden;-moz-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;transition:all .2s ease-in-out}

nav ul li{padding:1px 0;float:left}

nav ul a{color:#007cc3;padding:6px 17px}

nav:hover{padding:0 0 30px 30px}

nav:hover i,
nav:hover ul{opacity:1;height:auto}

nav.wrapper{width:auto}

@media screen and (max-width:906px){nav{display:none!important}

}

.profile{position:fixed;width:15%;right:5%;top:130px;z-index:400;-webkit-backface-visibility:hidden;-moz-transition:all .3s ease-in-out;-o-transition:all .3s ease-in-out;-webkit-transition:all .3s ease-in-out;transition:all .3s ease-in-out}

.profile.featured{position:absolute;top:32%;opacity:.4}

.profile.featured .profileimage{width:65px;height:65px}

.profile.featured h4,
.profile.featured p{color:#fff}

.profile.featured .tweet,
.profile.featured strong{display:none}

.profile.featured ul li a{color:#797979;background:#000}

.profile.featured.stuck{position:fixed;top:130px}

.profile.stuck{opacity:.5}

.profile:hover{opacity:1}

.profile.hide{opacity:0}

.profile .profileimage{width:96px;height:96px;margin:10px 0;-moz-border-radius:96px / 96px;-webkit-border-radius:96px;border-radius:96px / 96px}

.profile h4{margin:15px 0}

.profile ul{padding:0;margin:10px 0 25px;float:left;overflow:hidden}

.profile ul li{float:left;list-style:none}

.profile strong{margin:20px 0 10px;font:600 14px 'Open Sans',
Serif;color:#3a3a3a}

.profile p{margin:20px 0;clear:both;font:400 15px 'Open Sans',
Serif;line-height:28px;max-height:136px;text-overflow:ellipsis;overflow:hidden}

.profile p a{color:#3b7bbf}

.profile hr{margin:10px 0 15px;border:0;width:100%;height:1px;background:#b6b6b6}

.profile .tweet{font:600 12px 'Open Sans',
Serif;line-height:24px;margin:20px 0}

.profile .tweet span{display:block;text-align:left;color:#848484}

@media screen and (max-width:1350px){.profile{opacity:0}

}

@media screen and (max-width:1330px){.profile{display:none}

}

@media screen and (max-height:640px){.profile{display:none}

}

.postprofile{overflow:hidden;padding:15px 0;margin:30px 0;border-top:1px solid #b3b3b3;border-bottom:1px solid #b3b3b3}

.postprofile .author{display:block;float:left;width:12%;-moz-border-radius:96px / 96px;-webkit-border-radius:96px;border-radius:96px / 96px}

.postprofile .info{width:82%;display:block;float:right}

.postprofile h4{margin:15px 0}

.postprofile p{margin:15px 0;font:400 14px 'Open Sans',
Serif;line-height:32px}

.postprofile .social{list-style:none;margin:20px 0 0;padding:0;overflow:hidden;-webkit-transform:translateZ(0);-webkit-transition:all .25s ease-out;-moz-transition:all .25s ease-out;-o-transition:all .25s ease-out;transition:all .25s ease-out}

.postprofile ul{margin:0 10px 10px 0}

.postprofile li{float:left;margin:0 10px 10px 0;padding:0}

.postprofile li a{display:inline-block;padding:9px 0;width:40px;text-align:center;-webkit-border-radius:41px;-moz-border-radius:41px;border-radius:41px;color:#fff;-webkit-transition:all .25s ease-out;-moz-transition:all .25s ease-out;-o-transition:all .25s ease-out;transition:all .25s ease-out}

@media screen and (max-width:320px){.postprofile .author{float:none;width:25%}

.postprofile .info{float:none;width:100%}

}

.index{display:none;width:100%;position:fixed;top:0;left:0;z-index:100;padding:20px 0;margin:0;color:#ececf1;background-color:#272727;background-color:rgba(39,
39,
39,
.9);background-size:100%;background-image:-webkit-gradient(linear,
50% 0,
50% 100%,
color-stop(0%,
rgba(39,
39,
39,
.9)),
color-stop(100%,
rgba(56,
56,
56,
.9)));background-image:-moz-linear-gradient(rgba(39,
39,
39,
.9),
rgba(56,
56,
56,
.9));background-image:-webkit-linear-gradient(rgba(39,
39,
39,
.9),
rgba(56,
56,
56,
.9));background-image:linear-gradient(rgba(39,
39,
39,
.9),
rgba(56,
56,
56,
.9))}

.index h1,
.index h2{margin:0;padding:0;font:700 18px 'Open Sans',
Serif;color:#fff}

.index h2{font:600 18px 'Open Sans',
Serif;font-weight:400}

.index .show{display:block}

@media screen and (max-width:790px){.index h1{display:none}

}

@media screen and (max-width:675px){.index{display:none!important}

}

.cover{display:none;position:relative;background-color:#2b2b2b;background-size:100%;background-image:-webkit-gradient(linear,
50% 0,
50% 100%,
color-stop(0%,
#2b2b2b),
color-stop(100%,
#000));background-image:-moz-linear-gradient(#2b2b2b,
#000);background-image:-webkit-linear-gradient(#2b2b2b,
#000);background-image:linear-gradient(#2b2b2b,
#000);height:100%;width:100%;overflow:hidden}

.cover .background{position:absolute;height:100%;width:100%;top:0;left:0;opacity:.6;background-size:cover;background-position:fixed}

.cover.featured{display:block}

.cover header{position:relative;width:90%;top:35%;max-width:760px;left:auto}

.cover header h2{font:600 22px 'Open Sans',
Serif;color:#e4e4e4;opacity:.8}

.cover header h2 a{color:#e4e4e4}

.cover header h2 a:hover{color:#fff}

.cover header h1 a{color:#fff;font:700 1.7em Domine,Serif;line-height:86px;text-shadow:0 0 30px rgba(0,0,0,.8);-webkit-transform3d:translate(0,0,0);-moz-transform3d:translate(0,0,0);transform3d:translate(0,0,0)}

.cover header h1 a:hover{border-bottom:3px solid rgba(255,255,255,.2)}

.cover header span{color:#dedede;opacity:.9}

.cover header span a,
.cover header span time{font-weight:600;color:#fff}

@media screen and (max-width:595px){.cover{height:auto;min-height:none;padding:40px 0}

.cover header{padding:80px 0 20px}

.cover header h1 a{font:700 1.2em Domine,Serif;line-height:22px}}

@media screen and (max-height:640px){.cover header{top:25%}}

@media screen and (max-width:595px){.posts{padding-top:10px}}

.posts article{padding:65px 0 25px;border-bottom:1px solid #d7d7d7;clear:both}
.posts article img[alt=featureimage],
.posts article.featured header{display:none}
.posts article iframe{margin:30px 0}
.posts article header{position:relative}
.posts article header h1{margin:30px 0}
.posts article header h1 a{position:relative;padding:10px 0;color:#262b30}
.posts article header h1 a:hover{color:#007cc3}
.posts article header h2{font:600 20px 'Open Sans', Serif;color:#D5D5D5}
.posts article header h2 a{color:#D5D5D5;display:none}
.posts article header h2 a:first-child{display:block}
.posts article header h2 a:hover{color:#B3B3B3}
.posts article time{font-weight:600;color:orange}
.posts article header i{margin:0 5px}
.posts article header span{color:#b6b6b6}
.posts article header p{margin:30px 0 0}
.posts article hr{height:3px}
.posts article .feature{display:none}
.posts article.featured .feature{position:absolute;right:0;display:inline-block;padding:7px 15px;background:#fff;color:#78a300;-moz-border-radius:4px / 4px;-webkit-border-radius:4px;border-radius:4px / 4px}
.posts article.featured .feature:hover span{display:inline;opacity:1}
.posts article.featured .feature span{color:#78a300;margin-right:15px;opacity:0}
@media screen and (max-width:595px){.posts article.featured .feature span{display:none}}

.posts article section{margin:0 0 30px}
.posts article section>p:first-child{margin:40px 0 30px;font-weight:600;color:#1d1d1d}
.posts article section ol,
.posts article section ul{margin:30px 0 0 6%;padding:0;line-height:38px}
.posts article section ol li,
.posts article section ul li{padding:0 0 0 3%;margin:10px 0}
.posts article section ul li{list-style:square}
.posts article section .container{position:relative}
.posts article section .container .reference{position:absolute;top:0;left:-175px;width:150px;padding:20px 0 10px;border-top:1px solid #dcd8d5;border-bottom:1px solid #dcd8d5;text-align:right}

@media screen and (max-width:1140px){.posts article section .container .reference{position:static;width:100%;border-top:0;padding:10px 0}}

.posts article section .container strong{font:600 14px 'Open Sans', Serif}

.posts article section .container p{margin:10px 0;font:400 12px 'Open Sans',
Serif;line-height:24px}

.posts article section .container img:first-child,
.posts article section .container pre:first-child{margin:0}

.posts article footer{overflow:hidden;padding:0;margin:30px 0}

.posts article footer ul{margin:30px 0;padding:0;list-style:none}

@media screen and (max-width:600px){.posts article footer ul{margin:0}

}

@media screen and (max-width:600px){.posts article footer .tags{clear:both;float:left}

}

.posts article footer .tags li{float:left;margin:0 0 15px 15px}

@media screen and (max-width:600px){.posts article footer .tags li{margin:15px 15px 15px 0}

}

.posts article footer .share li{float:left;margin:0 15px 15px 0}

.posts article .comments{display:none}

.posts article .comments .readmore{margin:20px 0 30px}

@media screen and (max-width:906px){.posts article{padding-top:120px}

.posts article.featured{padding-top:60px}

}

@media screen and (max-width:595px){.posts article{padding-top:100px}

.posts article.featured{padding-top:0}

}

.postindex{padding-top:50px}

@media screen and (max-width:906px){.postindex{padding-top:110px}

}

@media screen and (max-width:906px){.postindex article.featured{padding-top:50px}

}

@media screen and (max-width:595px){.postindex article.featured{padding-top:30px}

}

.pagination{overflow:hidden;padding:50px 0;border-bottom:1px solid #dfdfdf}

.pagination .right i{margin:0 0 0 15px}

@media screen and (max-width:405px){.pagination span{display:none}

.pagination .right i,
.pagination i{margin:0}

}

.postindex .post{padding:50px 0}

.postindex .post.featured header{display:block}

.postindex .post header h1{margin:20px 0}

.postindex .post header h2{margin:0}

@media screen and (max-width:595px){.postindex .post{padding:30px 0}

}

@media screen and (max-width:320px){.postindex .post header p{display:none}

}

#g-comments,
#g-comments iframe{width:100%!important}

.prettyprint code{display:inline-block;padding:0;margin:0;color:#eee;font:500 15px 'Source Code Pro',
Arial,
Serif;line-height:28px;background:0 0;border:0}

pre.prettyprint{background:#313339;border:0;color:#fff;margin:40px 0;font:500 15px 'Source Code Pro',
Arial,
Serif;line-height:36px;padding:25px 35px;overflow-x:auto;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px}

code .str,
pre .str{color:#d64032}

code .kwd,
pre .kwd{color:#66d9ef}

code .com,
pre .com{color:#75715e;font-style:italic}

code .typ,
pre .typ{color:#66d9ef}

code .lit,
pre .lit{color:#ae81ff}

code .pln,
code .pun,
pre .pln,
pre .pun{color:#fff}

code .tag,
pre .tag{color:#f92672}

code .atn,
pre .atn{color:#a6e22a}

code .atv,
pre .atv{color:#e6db74}

code .dec,
pre .dec{color:#ae81ff}

ol.linenums{margin-top:0;margin-bottom:0;color:#75715e}

li.L0,
li.L1,
li.L2,
li.L3,
li.L5,
li.L6,
li.L7,
li.L8{list-style-type:decimal!important;color:#fff;width:40px}

li.L1,
li.L3,
li.L5,
li.L7,
li.L9{background:0 0}

@media print{code .str,
pre .str{color:#060}

code .kwd,
pre .kwd{color:#006;font-weight:700}

code .com,
pre .com{color:#600;font-style:italic}

code .typ,
pre .typ{color:#404;font-weight:700}

code .lit,
pre .lit{color:#044}

code .pun,
pre .pun{color:#440}

code .pln,
pre .pln{color:#000}

code .tag,
pre .tag{color:#006;font-weight:700}

code .atn,
pre .atn{color:#404}

}

